* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #39db5e;
}

body {
    background-color: black;
}

:root {
    color-scheme: dark;
}
