* {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-weight: 1em;
	color: #2db54c;
	margin: 0px;
}

body {
	background-color: rgb(0, 0, 0);
}

header {
	padding: 2.5rem;
	text-align: center;
	border-bottom: 1px solid;
	border-left: 1px solid #2db54d9c;
	border-right: 1px solid #2db54d9c;
	border-radius: 5px;
	width: 65%;
	margin: auto;
	
}

header h1 {
	color: #6aeb8a;
}

th {
	font-weight: normal;
}

table {
	border-collapse: separate;
	border-spacing: 20px 20px;
}

@media screen and (max-width: 600px) {
	table {
		border-spacing: 0px 20px;
	}
}

.description {
	padding: 7px 7px;
	border-right: 1px solid;
	text-align: center;
}

.content {
	width: 100%;
	text-align: center;
	padding-left: 20px;
}

img {
	border: 5px solid#2db54c;
	border-radius: 5px;
}

.rows {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.rows p {
	text-align: center;
}

.rows * {
	margin: 10px;
}

.columns {
	display: flex;
	flex-direction: column;
	width: 40%;
	min-width: 350px;
}

.columns img {
	width: 100%;
	margin: auto;
}